receivers:
  otlp:
    protocols:
      http: {}
      grpc: {}
  prometheus:
    config:
      scrape_configs:
        - job_name: cadvisor
          static_configs:
            - targets: ["cadvisor:8080"]

processors:
  batch: {}

exporters:
  logging:
    loglevel: warn
  prometheus:
    endpoint: "0.0.0.0:8889"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging]
    metrics:
      receivers: [otlp, prometheus]
      processors: [batch]
      exporters: [prometheus, logging]
